<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulldog</title>
</head>
<body bgcolor="Tan">
<center><h1><b>"WELCOME"</b></h1></center><br><br><br><br>
<center><img src="https://www.thesprucepets.com/thmb/bH92K8TCfifpML07q5-typkH4HM=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/1024px-Bulldog_inglese-cf544d354159462c8c0d93db5f1adbe6.jpg" width="607" height="400"></center>
<center><h2>Bulldog Price:{{abc}}</h2></center>
</body>
</html>
