<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog app</title>

</head>
<body>
<center><h1><b>Dog House</b></h1></center><br><br><br><br><br>
<center>
    <form  method="post">
        <div><h2>
            Select Dog Breed:<select name="dnm">
            <option value="0">------Select------</option>
            <option value="1">Husky</option>
            <option value="2">Labrador</option>
            <option value="3">Golden Retriever</option>
            <option value="4">Bulldog</option>
            </select><br><br>
            <input type="submit">
        </h2></div>

    </form>
</center>
</body>
</html>
